body {
  margin: 0%;
  padding: 0%;
}
*:focus {
  outline: none;
}
.parent {
 display: flex;
 padding-left: 2em;
 padding-top: 2em;
 padding-bottom: 1.5em;
 justify-content: space-between;
 }

.parent.child {
  color: rgb(255,81,34);
}

.left {
  color: rgb(255,81,34);
  height: 2em;
  width: auto;
}

.child.right {
  color: rgb(255,146,145);
  margin-right: .25em; 
  margin-bottom: 0em;
  padding-top: .65em;
  align-content: bottom;
  
 }

.items {
   display: inline-block;
   color: rgb(255,146,145);
   padding-left: 0em;
   margin-left: -.75em;
 }

a {
  text-decoration: none;
  color: rgb(255,80,33);
  padding-right:.5em;
  padding-left:.5em;
}
.selection {
  background: linear-gradient(to right, rgba(224,31,112,1)0%, rgba(254,78,36,1)90%);
  color: white;
  padding-left: 8em;
  padding-right: 6em;
  padding-bottom: 5em;
  padding-top: 3em;
}
#back {
  color: white;
}
#quick {
  display: inline-block;
  justify-content: left;
  width: 50%;
  height: auto;
  padding-top: 2em;
  padding-right: 2.85em;
  padding-bottom: 1em;
}

.info { 
  display: inline-block;
  width: 45%;
  height: 60;
  padding-top: 2em;
  
}
 .main {
    width: 4vh;
  }

h1 {
  font-size: 3.25em;
  font-weight: normal;
  margin-bottom: 0em;
  margin-top: 0em;
  
}
h5 {
  color: black;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: .5em;
  font-weight: normal;  
  margin-bottom: 1.15em;
  }
.description {
  display: inline-block;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  padding-right: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0em;
  font-size: 1.25em;
  line-height: 1.5em;
}

#reviews {
  padding-right:10%;
  padding-left: 35%;
  color: black;
}

#here {
  padding: 0em;
}
button {
  border-radius: .5em;
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2.5%;
  border: 3px, solid, white;
  font-size: 1.25em;
  font-weight: bold;
  background-color: white;
  color: rgb(254,78,36);
  margin: 0%;
  margin-left: 1em;

}

#details {
  margin: 0em;
  display: inline-block; 
  border-bottom: 1px solid pink;
  color: rgb(255,137,115);
}

#size {
  display: inline-block;
  padding-top: 1.25em;
  padding-left:1.20em;
  border-bottom: 1px solid pink;
  color: rgb(255,137,115);
}

#stars {
  color: rgb(255,137,115);
  display: inline-block;
  padding-left: 55%;
  border-bottom: 1px solid pink;
}

 .fit {
  display: none;
 }

 .saying {
  display: none;
 }

.content {
  line-height: 2em; 
  font-size: 1.10em; 
  color: rgb(157,124,133);
  padding-right: 17em;     
}

.clicked {
  border-bottom: 3px, solid, pink;
}
#specs {
  padding-top: 1em; 
  padding-left: 9em;
  padding-right: 0em; 
  padding-bottom: 1em;
}

#reccomended {
  margin-bottom: 0em;
  padding: .75em;
  background: linear-gradient(to right, rgba(251,234,242,1)0%, rgba(255,238,236,1)100%);
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

.suggestions {
  background: linear-gradient(to right, rgba(224,31,112,1)0%, rgba(254,78,36,1)90%);
  padding-top: 6%;
  padding-bottom: 7em;
  padding-left: 6%;
  color: white;
  display: flex;
}

.product {
  justify-content: flex-end;
  padding-left: 2em;
}

.reccomended {
  height: 25vh;
  width: auto;
}

.sneakers {
  display: inline-block;
  font-size: 1.75em;
  padding-right: 1.05em;
  padding-left: 1.30em;
  margin-top: 0em; 
  padding-bottom: 0em;
  margin-bottom: 0em; 
 }
.spring {
  font-size: 1em;
  margin-top: 0%;
  margin-bottom: 1.5%;
  padding-left: 2.30em;
  padding-bottom: 0%;
  letter-spacing: 1px;
  font-weight: normal;

}
.dollar {
  display: inline-block;
  vertical-align: 50%;
  padding-top: 0em;
  padding-right: 0em;
  padding-left: 0em;
  margin-top:1em;
  font-size: 1.25em;
}

.cost {
  display:inline-block;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: 0em;
  padding-top:.15em;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em; 
}
.right {
  margin-right: 1.5em; 
}
.bright {
  color: rgb(148,116,118);
  padding-right: 0em;
  padding-left: 0em; 
}
#copy {
  display: inline-block;
}